# .gitignore
__pycache__/
*.pyc
# .gitignore
__pycache__/
*.pyc
venv/
.env
.DS_Store

# Dossier de travail temporaire (ne pas récupérer les modifications des étudiants ici)
sandbox/

# LOGS : On ignore tout le dossier logs...
logs/*
# ...SAUF le fichier de données final qu'on veut récupérer
!logs/experiment_data.json

Document 1 - Statement of the IGL Lab (2025-2026) - English version.pdf
Document 2 - Technical Configuration Guide -English version.pdf